  <nav class="grey darken-2">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">WayOut</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="fas fa-bars"></i></a>
      </a>
    <ul class="right hide-on-med-and-down">
        <li><a href="/stories">Daily</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>

      <ul id="mobile-demo" class="sidenav">
        <li><a href="/stories">Daily</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/auth/logout">Logout</a></li>
      </ul>
    </div>
  </nav>