<h3><i class="fas fa-hand-holding-medical"></i> WayOut</h3>
<div class="section">
    <p class="lead">Recovery coaching & support</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn btn-large waves-effect waves-light red lighten-1"><i class="fab fa-google left"></i>Login with Google</a>
</div>